.image{
    width: 300px;
    height: 200px;
    border-radius: 20px;

}
.icons{
    display: flex;
}
.ba{
    color:#aaa ;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.icon{
    color: #000839;
}