 .form{
    display: flex;
    margin: 15px;
   
}
.img{
    width: 50%;
    height: 600px;
   
}
.ee{
    display: flex;
    flex-direction: column;
   /* align-items: center; */
   padding: 130px;
}
.ui{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
}
.ii{
    width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
p {
    color: red;
  }
  .fluid {
    width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #FFA41B;
 
    border: none;
   
  }
  .ss{
    /* text-align: center; */
    margin-left: 120px;
    color: #000839;
  }
